/*.ContainerTable{*/
/*    justify-content: flex-startjustify-content-md-center;*/

/*}*/
.PreferredRoomHeader {
    margin-bottom: 8px;
    font-weight: bold;
    border: 1px solid;
    background-color: cyan;
    font-size: 3vh;
}
.MainRoomStyleHeader {
    background-color: deepskyblue;

}

.MainRoomStyleHeader > .column {
    border: 1px solid
}

.Cancelled {
    color: red;
    text-decoration: line-through;
}

.Moved {
    color: lightcoral;
    font-weight: bold;
}

.MainRoomStyleHeader > .header {
    font-size: 3.2vh;
    font-weight: bold;
}


.StyleHeader {
    background-color: lightblue;
}

.StyleHeader > .content {
    border: 1px solid
}

.TableRow {
    background-color: lightcyan;
    /*font-size: 16px*/
    font-weight: normal;
    font-size: 3vh
}

.TableRow > .content {
    border: 1px solid
}

.StyleHeader > .header {
    font-size: 3.2vh;
    font-weight: bold;
}

.MainStyle {
    background-color: aqua;
    font-size: 3vh;
}

.MainStyleCol {
    border: 1px solid
}
